/* HOME */
body {
  background-color: #000000;
  opacity:0.90;
  width: auto;
  max-height: 600px;
}

.up{
  width: 1000px;
  height: 50px;
  margin:auto;
  background-color: #000000;
  opacity: 0.4;

}

.up:hover  {
  width: 1000px;
  height: 60px;
    background-color: #000000;
    opacity:0.9;
    margin-bottom: 0px;
    z-index:10;
}

     .HH {
          padding: 10px;
          width: 100px;
          height: 100px;
          float: left;
          margin: auto;
          opacity: 1;
        }

      .main {
        visibility: hidden;
      }
      .main li {
          display: inline-block;
          position: relative;
          left: 500px;
          top: 40px;
          font-size: 12px;
          font-family: verdana;
          text-transform: uppercase;
          margin-right: 12px;
        }
        .main a {
            color: #F7F7F7;
            text-decoration: none;
            font-weight: lighter;
            }

        .up:hover .main {
                visibility: visible;
                color: #ff0000;
                text-decoration: none;
                }




.marquee{
  height: 500px;
  margin: none;
  padding: none;
  position:static;
  z-index:1;
  }



.down {
  width: 1000px;
  height: 50px;
  margin:auto;
  background-color: #000000;
  z-index: 10;
          }

          .fb .ig {
            padding: 10px;
            width: 50px;
            height: 50px;
            margin: 10px;
            display: inline;
            }
          .fb{
            position: relative;
            top: 20px;
            left: 30px;
          }
          .ig {
            position: relative;
            bottom: 5px;
            left: 60px;
          }
          .polimi {
            padding: 10px;
            width: 100px;
            height: 100px;
            float: right;
            margin: 10px;
            position: relative;
            bottom: 60px;
              }
