h1 {;
  color: #B6B6B6;
font-family: Monospace;
font-style: normal;
text-shadow: 4px 4px 7px black
}

img {
  display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 0px;
}

p {;
  color: #B6B6B6;
  font-weight: 400;
  font-family: "Courier";
}
