body {
background-image: url(http://static.tumblr.com/c93975e3e5fc5c6bd4d2e789ff31ae4a/ac8uusj/QPDogg6oq/tumblr_static_105esi6cefdwwoo0s48k44044.png);
background-repeat: repeat;
font-family: tahoma;
font-size: 12px;
line-height: 15px;
color: #555555;
text-align: justify;
}


.column {
padding: 10px;
    background-color: #ececec;
width: 500px;
height: 400px;
overflow-y: auto;

}
.nav {
    padding: 5px;
    float: right;
    margin-top: 20px;
}
.title {
font-family: sans-serif;
font-size: 24px;
text-transform: lowercase;
    font-weight: bold;
    letter-spacing: -1px;
color: #555555;
padding-left: 20px;
border-bottom: 1px dashed #bcb9b7;
margin-bottom: 5px;
}
.testo {
color: #555555;
}



::-webkit-scrollbar {
background: #676767;
width: 1px;
height: 5px;
cursor: s-resize;
  }
::-webkit-scrollbar-thumb {
background: #c4c4c4;
opacity: 0.4;
filter: alpha(opacity=40);
cursor: s-resize;

}


a:link {
text-decoration: underline;
font-family: verdana;
font-size: 10px;
color: #706863;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:visited {
text-decoration: underline;
font-family: verdana;
font-size: 10px;
color: #706863;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:hover {
text-decoration: underline;
font-family: verdana;
font-size: 10px;
color: #706863;
    text-transform: uppercase;
    letter-spacing: 1px;
}



b, strong {
color: #727272;
font-family: tahoma;
font-size: 12px;
font-size: 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
i, em {
color: #aba19b;
font-size: 12px;
font-family: calibri;
    letter-spacing:1px;
}
u {
text-decoration: none;
font-family: verdana;
font-size: 10px;
color: #706863;
    text-transform: uppercase;
    letter-spacing: 1px;
}
